*{

    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    --main-color:   #78350f;
    --accent-color: #f59e0b;
    --bg-color:     #7a660e;
    --text-color:   #1f2937;
    --card-color:  #ffffff;
    --muted-color: #6B7280;
}
body{
    background-color: var(--bg-color);
}

header{
    background-color:var(--card-color);
    display:flex;
    justify-content:space-between;
    padding:16px;
    align-items:center;

}
nav{
    display:flex;
    gap:24px;
  
}